<!--
File: student.componnt.html
Author: Tóth Júlia
Copyright: 2023, Tóth Júlia
Group: Szoft 2/n
Date: 2023-03-21
Github: https://github.com/haribomaci/
Licenc: GNU GPL
-->
    

<table class=" table table-bordered table-dark table table-striped mt-4 border-warning ">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Group
            </th>
        </tr>
    </thead>
    <thead>
        <tr *ngFor="let stud of students">
            <td>
                {{stud.id}}
            </td>
            <td>
                {{stud.name}}
            </td>
            <td>
                {{stud.gender}}
            </td>
            <td>
                {{stud.group}}
            </td>
        </tr>
    </thead>
</table>
<table class="table  table-bordered table-dark table-striped border-danger">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Score
            </th>
            <th>
                StudentId
            </th>

        </tr>
    </thead>
    <thead>
        <tr *ngFor="let score of scores">
            <th>
                {{score.id}}
            </th>
            <th>
                {{score.score}}
            </th>
            <th>
                {{score.studentId}}
            </th>

    </thead>
</table>
