<table class="table table-dark table table-striped mt-4 ">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Group
            </th>
        </tr>
    </thead>
    <thead>
        <tr *ngFor="let stud of students">
            <td>
                {{stud.id}}
            </td>
            <td>
                {{stud.name}}
            </td>
            <td>
                {{stud.gender}}
            </td>
            <td>
                {{stud.group}}
            </td>
        </tr>
    </thead>
</table>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Score
            </th>
            <th>
                StudentId
            </th>

        </tr>
    </thead>
    <thead>
        <tr *ngFor="let score of scores">
            <th>
                {{score.id}}
            </th>
            <th>
                {{score.score}}
            </th>
            <th>
                {{score.studentId}}
            </th>

    </thead>
</table>
